<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="LuaJIT" Language="1033" Version="2.1.0.0" Manufacturer="LuaJIT" UpgradeCode="B3A1F2C4-5D6E-4789-A012-345678901234">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="LuaJIT Installer" />
    
    <Media Id="1" Cabinet="LuaJIT.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of LuaJIT is already installed." />
    
    <Feature Id="ProductFeature" Title="LuaJIT" Level="1">
      <ComponentGroupRef Id="LuaJITComponents" />
      <ComponentRef Id="PathEnvironment" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="LuaJIT" />
      </Directory>
    </Directory>

    <Component Id="PathEnvironment" Directory="INSTALLDIR" Guid="11111111-2222-3333-4444-555555555555">
      <CreateFolder />
      <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
    </Component>
  </Product>
</Wix>